<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap');
  </style>
<div class="detalle">
    <img src="../../../assets/img/image 1.png" alt="imagen-detalle">
    <div class="descripcion">
        
        <h1>Comedor Toronto Natural 6</h1>
        <h1>$1.200.000</h1>
        <p>COMEDOR TORONTO NATURAL 6 PUESTOS SILLAS VIENA + BUTACO EN TELA De estilo sencil y contemporáneo.
            La Mesa de Comedor Toronto cuenta con bases en MDF de 12mm estructurado con madera pino y superficie entamborada de 38mm, pintada en su totalidad color natural.
            <br>
            <br>
            La Silla Viena cuenta con estructura y patas metálicas pintadas acabado madera natural, asiento en MDF, relleno en espuma de alta densidad y está tapizada en tela poliéster de excelente calidad.
            <br>
            <br>
            El Butaco Viena está fabricado en estructura y patas de madera pino, asiento en MDF, relleno en espuma de alta densidad y está tapizado en tela poliéster de excelente calidad.</p>
            <button >Agregar al carrito</button>
    </div>
</div>